.sidebar {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sidebar .logo {
  width: 2rem;
  height: 2rem;
}
.sidebar .new-tweet {
  background: var(--twitter-blue);
  border-radius: 9999px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 900;
  border: 0;
}
.sidebar .new-tweet svg {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}
.sidebar .new-tweet:hover {
  filter: brightness(0.9);
}
.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.main-navigation a {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}
.main-navigation a svg {
  width: 2rem;
  height: 2rem;
}
.main-navigation a.active {
  color: var(--twitter-blue);
}

@media (max-width: 700px) {
  .sidebar {
    padding: 1.5rem 0.75rem;
    align-items: center;
  }
  .main-navigation a span {
    display: none;
  }
  .sidebar .new-tweet span {
    display: none;
  }
  .sidebar .new-tweet svg {
    display: block;
  }
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex.items-center.p-3 {
  display: flex;
  align-items: center;
  padding: 0.75rem;
}

.my-3 img.w-10.h-10.rounded-full {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px; 
  display: block;
  margin-top: 5.25rem;
}

.flex.flex-col.mx-3 {
  display: flex;
  flex-direction: column;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  align-items: end
}
h1.text-transparent.bg-clip-text.bg-gradient-to-r.from-rose-700.to-sky-700 {
  margin-top: 6.25rem;
}
h1.text-transparent.bg-clip-text.bg-gradient-to-r.from-rose-700.to-sky-700 a.font-black.hover\:text-lg.transition-all {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #4881ec, #60a5fa);
  text-decoration: none;
  font-weight: 900;
  transition: all 0.3s ease;
}

h2.font-normal.text-neutral-600 {
  font-weight: normal;
  color: #718096;
}

.flex.flex-1.justify-end {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}


